.home{
    width: 90%;
}
h1{
    border: 5px solid green;
    padding: 200px 50px;
    margin: 10px 0px;
    margin-right: 10px;
    text-align: center;
}

.middle-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}