.formPosition {
    background-color: aquamarine;
    height: 100%;
    display: flex;
    justify-content: center;
}

span {
    color: red;
}

.expiration {
    width: 20%;
    margin-right: 10px;
}