<div class="container">
<form [formGroup]="passwordValidation" (ngSubmit)="onSubmit()">
    <p>
        <label for="fullName">Full Name </label><br>
        <input type="text" name="fullName" formControlName="fullName"/><br>
        <span *ngIf="(fullName?.touched || fullName?.dirty) && fullName?.invalid" class="error">
            Full Name Required
        </span>
    </p>
    <p>
        <label for="Email">Email </label><br>
        <input type="text" name="Email" formControlName="Email"/><br>
        <span *ngIf="(Email?.touched || Email?.dirty) && Email?.invalid" class="error">
            Email Required
        </span>
    </p>
    <p>
        <label for="password">Password </label><br>
        <input type="text" name="password" formControlName="password"/><br>
        <span *ngIf="(password?.touched || password?.dirty) && password?.invalid" class="error">
            <span [hidden]="!confirmPassword?.errors?.required">Password Required</span>
        </span>
    </p>
    <p>
        <label for="confirmPassword">Confirm Password </label><br>
        <input type="text" name="confirmPassword" formControlName="confirmPassword"/><br>
        <span *ngIf="(confirmPassword?.touched || confirmPassword?.dirty) && confirmPassword?.invalid" class="error">
            <span [hidden]="!confirmPassword?.errors?.required">Confirm Password Required</span>
            <span [hidden]="!confirmPassword?.errors?.valid">Password Don't Match</span>
        </span>
    </p>

    <p>
        <button type="submit" [disabled]="!passwordValidation.valid">Submit </button>
    </p>
</form>
</div>